header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/*========CTA========*/
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*========Header Socials========*/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}

/*========Me========*/
/*
.me {
    background-color: var(--color-primary);
    width: 20rem;
    height: 20rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 50%;
}*/
/* .me{
    background-color: var(--color-primary);
    width: 14rem;
    height: 14rem;
    left: calc(50% - 10rem);
    margin-top: 4rem;
    position: absolute;
    border-radius: 50%;
} */

.me img {
    border-radius: 50%;
    width: 14rem; /* Adjust the width as needed */
    height: 14rem; /* Keep the height the same for a perfect circle */
    /*border-radius: 50%;*/
    /*object-fit: cover;*/
    /* background-color:slategray; */
    background: linear-gradient(slategray, transparent);
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: 4rem;
    border: 5px solid #20B2AA;
    overflow: hidden;
    /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}

/*========Scroll Down========*/
.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 500;
    font-size: 0.9rem;
    color: #00008B
}

/*=====media queries(medium devices)=====*/
@media screen and (max-width: 1024px) {
    header{
        height: 68vh;
    }
}

/*=====media queries(small devices)=====*/
@media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }

    .header__socials, .scroll__down{
        display: none !important;
        /* opacity: 0;
        pointer-events: none;  */
        /* visibility: hidden; */
    }
}