/* Experience.css */
.experience {
  margin-top: 8rem;
  text-align: center;
  max-width: 800px;
}

.experience__heading {
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 1.5s ease, moveText 2s ease infinite; 
}

.experience__card {
  background-color: var(--color-bg);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  text-align: left;
}

/* animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

  .experience__card h3 {
    color: var(--color-primary);
    margin-bottom: 0.5rem;
  }
  
  .experience__card h4{
    color: blueviolet;
    
  }

  .experience__details {
    color: var(--color-light);
    margin-bottom: 1rem;
  }
  
  .experience__card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
  }
  
  .experience__card li {
    color: var(--color-light);
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 0.5rem;
  }
  
  .experience__card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
  }
  p{
    color: var(--color-light);
  }